.container {
  background-image: url('../public/modern-kitchen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.homeHeadingContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.homeMainHeading {
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
  z-index: 1;
}
@media screen and (max-width: 780px) {
  .homeMainHeading {
    font-size: 4rem;
  }
  .homeSubHeading {
    font-size: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .homeMainHeading {
    font-size: 2.6rem;
  }
  .homeSubHeading {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 380px) {
  .homeMainHeading {
    font-size: 1.6rem;
  }
  .homeSubHeading {
    font-size: 0.65rem;
  }
}

.homeSubHeading {
  font-weight: 600;
  color: white;
  margin-bottom: 2rem;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .cardContainer {
    justify-content: center;
  }
  .cardContainer > div {
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .cardContainer > div {
    margin-left: 2rem;
  }
}
